/*select by tag type*/
body {
background: plum;
color: rgb(44, 44, 88);
font-family: Papyrus, fantasy;
}

/*Sellect by id name*/
#mainParagraph {
    background-color: lightsalmon;
    color: lawngreen;
    margin: 30px;

    /* Border and magrin eliments */
    border-width: 50px;
    border-style: groove;
    border-color: color-mix(in srgb, rgb(10% 30% 82%) 10%, rgb(87, 161, 79) 90%);
    border-radius: 100%;
    padding:100px
}

/*Sellect by class name*/
.funnyBits {
    border-color: blanchedalmond;
    border-style: inset;
    border-width: 10px;
    border-radius: 10%;
}

.goofyAhh {
    transform: skewX(20deg);
    color: black;
}


h1{
    color: cornsilk;
    text-align: center;
    font-weight: 200;
    font-style: oblique;
    font-size: 45px;

    font-family: "workbench", sans-serif;
}

hr{
    border-color: salmon;
    border-width: 4px;
    border-style: outset;
}

/* Everything is a box
* {
    border-color: salmon;
    border-width: 4px;
    border-style: outset;
}
*/
